# Virtual environment
.venv/
venv/
.myapp/  

# Byte-compiled / cached
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Environment variables
.env

# IDE/editor settings
.vscode/
*.swp

# Database
database/db/

# Static files
instance/
dev.dn
test.dn


.gitconfig
.gitignore


ssl/

# Node.js
node_modules/

# Dependency directories
package.json
package-lock.json
server.js