# Virtual environment
.venv/
venv/
*/venv/
.myapp/

# Byte-compiled / cached
__pycache__/
*.py[cod]

# Logs
logs/
**/*.log

# Environment variables
.env
!.env.example
env.js

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# Database
database/db/
*.sqlite3
dev.db
test.db

instance/

# Git-related
.gitconfig
.gitignore

# SSL Certificates
ssl/

# Node.js
node_modules/
.next/
dist/

# Dependency directories
jest.config.js
package-lock.json
package.json
server.js

# testing
__tests__/
auth.test.js
tests/
test/
test.js
test.yml